
h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    display: block;
    margin: auto;
}


.header{
    background-color: #CFD8E6;
}

img{
    display: block;
    margin:auto;
    }

.informacion{
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: #B3CFE6;
}
.gustos-uno{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(208,255,250);
    background: linear-gradient(90deg, rgba(208,255,250,1) 0%, rgba(106,219,222,1) 39%, rgba(82,180,200,1) 100%);
    font-family: sans-serif;
    padding: 10px 0px 10px 0px;;
}
.gustos-dos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(82,180,200);
    background: linear-gradient(90deg, rgba(82,180,200,1) 0%, rgba(106,219,222,1) 39%, rgba(208,255,250,1) 100%);
    font-family: sans-serif;
    padding: 10px 0px 10px 0px;;
}

.perfil{
    text-align: center;
    background: rgb(208,255,250);
    background: linear-gradient(90deg, rgba(208,255,250,1) 0%, rgba(106,219,222,1) 39%, rgba(82,180,200,1) 100%);
    font-family: sans-serif;
    padding: 10px 0px 10px 0px;;
}

