.contenedor-1{
    width: 360px;
    height: 360px;
    margin-left:   30px;
    margin-right:  30px;
    border: 2px solid black;
}
p{
    text-align: center;
    color: white;
}
.cajas1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.caja1{
    margin: 0;
    background-color: red;
    
    width: 120px;
    height: 120px;
}
.caja2{
    margin: 0;
    background-color: blue;
    
    width: 120px;
    height: 120px;
}
.caja3{
    margin: 0;
    background-color: green;
    
    width: 120px;
    height: 120px;
}


/*caja dos*/


.contenedor-2{
    margin-top: 30px;
    width: 360px;
    height: 360px;
    border: 2px solid black;
}
p{
    text-align: center;
    color: white;
}
.cajas2{
    display: inline-flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 110px;
}
.caja4{
    background-color: red;
    width: 120px;
    height: 120px;
}
.caja5{

    background-color: blue;
    width: 120px;
    height: 120px;
}
.caja6{
    background-color: green;
    width: 120px;
    height: 120px;
}

/*caja tres*/


.contenedor-3{
    margin-top: 150px;
    width: 700px;
    height: 120px;
    border: 2px solid black;
}
p{
    text-align: center;
    color: white;
}
.cajas3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
}
.caja7{
    margin: 0;
    background-color: red;
    width: 120px;
    height: 120px;
}
.caja8{
margin: 0;
    background-color: blue;
    width: 120px;
    height: 120px;
}
.caja9{
    margin: 0;
    background-color: green;
    width: 120px;
    height: 120px;
}