
h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    display: block;
    margin: auto;
}


.header{
    background-color: #CFD8E6;
}

img{
    display: block;
    margin:auto;
    }

.informacion{
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: #B3CFE6;
}
.gustos-uno{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #a9c8f3;
    font-family: sans-serif;
    padding: 10px 0px 10px 0px;;
}
.gustos-dos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #a9c8f3;
    font-family: sans-serif;
    padding: 10px 0px 10px 0px;;
}

.perfil{
    text-align: center;
    background-color: #9dc2f5;
    font-family: sans-serif;
    padding: 10px 0px 10px 0px;;
}