.formulario{    
    background-color:lightblue;
    width: 60rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #274A61;
}
@media (min-width: 768px) {
    .contenedor-campos{
         display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: auto auto 20rem;
     column-gap: 1rem;
 }
 .campo:nth-child(3),
 .campo:nth-child(4){
     grid-column: 1 / 3;
 }
 }
 
 .campo{
 margin-bottom: 1rem;
 }
 
 .campo label{
 color: #274A61;
 font-weight: bold;
 margin-bottom: .5rem;
 display: block;
 }
 
 .campo textarea{
     height: 10rem;
 }
 
 
 
 .input-text{
     width: 90%;
     border: none;
     padding: 10px;
     border-radius: 10px;
 }
 .alinear-derecha{
    justify-content: flex-end;
    }
    .boton{
        background-color: #274A61;
     color: white;
        padding: 1rem 1rem;
        margin-top: 1rem;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }
