.imagen-header{
    width: 100px; height: 100px;
    }

header{
    background-color: #274A61; /*rgb(105, 110, 116); */
    padding: 1em 0;
}

header h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 100px;
    display: inline-block;
    position: relative;
    bottom: 30px;
}