nav{
    background-color: lightblue;
    margin-bottom: 2rem;
    margin-top: 0xp;
}
nav ul{
    margin: 0;
}
nav li{
    display: inline-block;
    width: 15%;
}    

nav ul li a{
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;

}

nav ul li a:hover{
    background-color: #274A61;
}