body{
  font-family:  'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
 }
 .holder{
    max-width: 960px;
    margin: 0 auto;
}

h2, h3{
    padding-top: 10px;
    color:#274A61;
    font-weight: 400;
    margin: 0 0 1rem;
}

.right{
    float: right;
}

.left{
    float: left;
}
.home-img{
  width: 950px;
  height: auto;
}